<div class="editor__time">
  <div class="editor__menu">
    <span class="menu-item">
      Add
      <div class="submenu submenu--add"></div>
    </span>
    <a href="#" class="menu-item" data-action="export">Export</a>
    <a href="#" class="menu-item menu-item--toggle" data-action="toggle"><i class="icon-toggle"></i></a>
  </div>
  <div class="editor__time-controls controls">
    <a href="#" class="control control--first icon-first"></a>
    <a href="#" class="control control--play-pause icon-play"></a>
    <a href="#" class="control control--last icon-last"></a>
  </div>
  <div class="editor__time-header">

  </div>
  <div class="editor__time-main">

  </div>
</div>
