<div class="timeline">
  <nav class="timeline__menu">
    <a href="#" class="menu-item" data-action="export">Export</a>
    <a href="#" class="menu-item" data-action="switch-curve">Switch curve editor</a>
    <a href="#" class="menu-item menu-item--toggle" data-action="toggle"><i class="icon-toggle"></i></a>
  </nav>
  <div class="timeline__controls controls">
    <a href="#" class="control control--first icon-backward"></a>
    <a href="#" class="control control--play-pause icon-play"></a>
    <a href="#" class="control control--last icon-forward"></a>
    <input type="text" class="control control--input control--time" /> <span class="control__time-separator">/</span> <input type="text" class="control control--input control--time-end" />
  </div>
  <div class="timeline__header">

  </div>
  <div class="timeline__main">

  </div>
</div>
