.timeline
  .curve
    shape-rendering: auto
    stroke-linejoin: miter
    stroke-width: 1px

  .curve__handle-line
    stroke-dasharray: 2px
    shape-rendering: geometricPrecision
    stroke: #696969

  .curve__handle
    transition: fill 0.2s
    &:hover
      fill: #6ECEDF
